fish/.config/fish/fishd.*
fish/.config/fish/fish_variables
fish/.config/fish/functions/fzf_key_bindings.fish

nushell/.config/nushell/history.txt
nushell/.config/nushell/vendor

xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
