"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Gabriel Birke"
email = "gb@birke-software.de"

[ui]
default-command = "log"

[templates]
# show diff when editing description
draft_commit_description = '''
concat(
  coalesce(description, builtin_draft_commit_description, "\n"),
  surround(
    "\nJJ: This commit contains the following changes:\n", "",
    indent("JJ:     ", diff.stat(72)),
  ),
  "\nJJ: ignore-rest\n",
  diff.git(),
)
'''

[aliases]
publish = [ "git", "push", "--allow-new" ]
pull = [ "git", "fetch" ]

# for moving bookmark to current/previous commit
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@"]
ptug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]

# Remove description from current commit (e.g. after a split)
clear-desc = [ "describe", "-m", "" ]

# For showing the commits of a branch up to the point where it branched off "main"
log-branch = ["log", "-r", "::@ ~ ::main@origin"]

# Show commit message and changes of previous change
lastlog = ["show", "@-"]

# "Shortcut aliases"
praise = [ "file", "annotate" ]
init = ["git", "init"]
e = ["edit"]
df = ["diff"]
bk = ["bookmark", "list", "--all-remotes", "--no-pager"]


[git]
colocate = false

# override user.email if the repository is located under ~/oss
[[--scope]]
--when.repositories = ["~/src/WMDE"]
[--scope.user]
email = "gabriel.birke@wikimedia.de"

# disable pagination for `jj status` and `jj log`
[[--scope]]
--when.commands = ["status", "log"]
[--scope.ui]
paginate = "never"

#  use `delta` for `jj diff` and `jj show`
[[--scope]]
--when.commands = ["diff", "show"]
[--scope.ui]
pager = "delta"
