snippet npc "NPC front matter" b
---
title: $1`!p snip.p = snip.basename`
age: $3
tags:
  - $2

---
endsnippet

snippet lore "Lore front matter" b
---
title: $1`!p snip.rv = snip.basename`
tags:
  - $2
---
endsnippet
